a {
  text-decoration: none;
}
.about-container {
  padding-bottom: 5em;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.about-container h2 {
  text-align: center;
}
.about-container p {
  text-align: left;
}
