.status-bar-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20em;
}
.status-bar-bg {
  height: 1em;
  width: 70%;
  background-color: #2c2c2c;
  border-radius: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}
.status-bar {
  height: 100%;
  border-radius: 0.5em;
}
.cases {
  background-color: #c52828;
}
.recovered {
  background-color: #ffc857;
}
.mortality {
  background-color: #255f85;
}

.status-bar-wrapper p {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* .status-bar-wrapper {
    width: 18em;
  } */
}
