.card {
  /* box-shadow: 0.4em 0.4em 2em 0.2em rgb(128, 128, 128); */
  padding: 1em 8.5em;
  background-color: rgb(255, 255, 255);
  /*needs width so it can be an even size*/
  width: 5em;
  display: flex;
  justify-content: center;
  border: 0.1em solid rgb(163, 163, 163);
}
.card-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: -2em;
  text-align: center;
  width: fit-content;
}

.card-content p {
  font-weight: bold;
}
