h2 {
  text-align: center;
  margin-top: 3em;
}
.card-deck-container {
  display: grid;
  row-gap: 1em;
  grid-template-columns: 1fr;
  /*align items in the grid according the block-axis aka the vertical axis left and right side walls*/
  justify-items: center;

  /*seems to shift the grid axis to the center of the screen*/
  justify-content: center;
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .card-deck-container {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1em;
  }

  @media screen and (min-width: 1024px) {
    .card-deck-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
