.date {
  text-align: center;
}
.table-container {
  margin-top: 2em;
  overflow-x: scroll;
}

.table-row {
  outline: 0.1em solid #434343;
}

.table-header p {
  box-sizing: border-box;
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  color: #434343;
}

.table-row td:last-child {
  padding-right: 1em;
  box-sizing: border-box;
}

.table-cell {
  min-width: 15em;
  padding-right: 1em;
}
.table-cell p {
  text-align: center;
}

.table-cell .provinces-names {
  font-weight: 700;
  text-align: left;
  margin-left: 2em;
}

@media screen and (min-width: 720px) {
  .table-cell .provinces-names {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .table-cell .provinces-names {
    text-align: center;
  }

  .table-cell {
    padding-right: 1em;

    /* padding-right: 5em; */
  }

  .table-container {
    margin-top: 5em;
    overflow-x: hidden;
    max-width: 100%;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }
}
